.scrollimation.d5 {
    transition-delay:.10s;
}
.scrollimation.d6 {
    transition-delay:.12s;
}
.scrollimation.d7 {
    transition-delay:.14s;
}
.scrollimation.d8 {
    transition-delay:.16s;
}

.skills {
    margin-top: 80px;
}
.skills.no-top {
    margin-top: 0;
}
.skills h2 {
    margin: 0;
    margin-bottom: 40px;
}
.skills.last {
    margin-bottom: 80px;
}
.skills .col-md-3 {
    height: auto;
}

.imac-screen.flexslider {
    display: none;
}

.g-recaptcha div {
    margin-left: auto;
    margin-right: auto;
}

#contact-form .field-wrap {
    margin-bottom: 40px;
}