section#about.dark-bg.light-typo.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in About Me
        .row
            .col-sm-8.col-sm-offset-2
                img.img-responsive.img-center.img-circle.scrollimation.fade-left(src="http://www.gravatar.com/avatar/b066fe4a2f3abbe276fd754b378dbff7?s=280", alt="James King")
                p.text-center.scrollimation.fade-in.
                    Websites and web applications are my passion. I use all of the latest technologies to create a range of web applications which are contemporary, scalable and functional.
                    I hold a Bachelor of Science degree with honours in Web Programming from Staffordshire University.
                    <br><br>My next project could be your next big thing!<br>So what are you waiting for?
        p.text-center(style={margin: 0})
            a(href="https://www.codementor.io/jamesking56?utm_source=github&utm_medium=button&utm_term=jamesking56&utm_campaign=github", rel="nofollow")
                img(src="https://cdn.codementor.io/badges/i_am_a_codementor_dark.svg", alt="I am a codementor", style={"max-width": "100%", border: "none", "box-shadow": "none", "margin-bottom": 0})
        p.text-center
            a.btn.btn-meflat.scrollto.white.icon-left(href="#contact")
                i.fa.fa-arrow-down
                | Hire Me