section#about.dark-bg.light-typo.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in About Me
        .row
            .col-sm-8.col-sm-offset-2
                img.img-responsive.img-center.img-circle.scrollimation.fade-left(src="../assets/about.jpg", alt="")
                p.text-center.scrollimation.fade-in
                    | Cras convallis nunc vitae massa convallis fermentum. Fusce feugiat, sem at congue rutrum, nisl mauris facilisis tellus, vel interdum nulla enim at purus. Integer metus justo, pellentesque ac bibendum a, dapibus sed nisl. Donec vitae suscipit lacus. Vivamus lacinia nisi eget erat luctus, id mollis nunc molestie.
        p.text-center
            a.btn.btn-meflat.scrollto.white.icon-left(href="#contact")
                i.fa.fa-arrow-down
                | Hire Me