section#about.dark-bg.light-typo.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in About Me
        .row
            .col-sm-8.col-sm-offset-2
                img.img-responsive.img-center.img-circle.scrollimation.fade-left(src="http://www.gravatar.com/avatar/b066fe4a2f3abbe276fd754b378dbff7?s=280", alt="")
                p.text-center.scrollimation.fade-in.
                    Websites and Web Apps are my forte. I adore working on scalable, functional and beautiful web applications whether
                    they are public or private. I love it so much I hold a Bachelor of Science degree in Web Programming from
                    Staffordshire University! My dedication to your next project will really have you in awe.<br>So what are you waiting for?
        p.text-center
            a.btn.btn-meflat.scrollto.white.icon-left(href="#contact")
                i.fa.fa-arrow-down
                | Hire Me