section#contact.dark-bg.light-typo.padding-top
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in Drop Me a Line
            p
                | Tell me about your cool project
        form#contact-form.bl_form.text-center(action="contact.php", method="post", novalidate="")
            span.field-wrap.scrollimation.fade-right
                label.control-label(for="contact-name") Name
                input#contact-name.label_better.requiredField(type="text", name="name", data-new-placeholder="Name", placeholder="Name", data-error-empty="*Enter your name")
            span.field-wrap.scrollimation.fade-in
                label.control-label(for="contact-mail") Email
                input#contact-mail.label_better.requiredField(type="email", name="email", data-new-placeholder="Email Address", placeholder="Email Address", data-error-empty="*Enter your email", data-error-invalid="x Invalid email address")
            span.field-wrap.scrollimation.fade-right
                label.control-label(for="contact-message") Message
                textarea#contact-message.label_better.requiredField(name="message", rows="1", data-new-placeholder="Message", placeholder="Message", data-error-empty="*Enter your message")
            p.text-center
                button.btn.btn-meflat.icon-left(name="submit", type="submit", data-error-message="Error!", data-sending-message="Sending...", data-ok-message="Message Sent")
                    i.fa.fa-paper-plane
                    | Send Message
            input#submitted(type="hidden", name="submitted", value="true")