footer#main-footer.dark-bg.light-typo
    .container
        hr
        .row
            .col-sm-6
                ul.social-links
                    li.scrollimation.fade-right.d4
                        a(href="#link")
                            i.fa.fa-twitter.fa-fw
                    li.scrollimation.fade-right.d3
                        a(href="#link")
                            i.fa.fa-facebook.fa-fw
                    li.scrollimation.fade-right.d2
                        a(href="#link")
                            i.fa.fa-google-plus.fa-fw
                    li.scrollimation.fade-right.d1
                        a(href="#link")
                            i.fa.fa-dribbble.fa-fw
                    li.scrollimation.fade-right
                        a(href="#link")
                            i.fa.fa-linkedin.fa-fw
            .col-sm-6.text-right
                p
                    | &#169;2014 Me Flat Theme by
                    a(href="http://q-themes.net/") Qthemes
script(src="../js/original/libs/jquery-1.9.1.min.js")
script(src="../js/original/libs/bootstrap.min.js")
script(src="../js/original/jquery.easing.1.3.min.js")
script(src="../js/original/jquery.scrollto.js")
script(src="../js/original/jquery.fittext.js")
script(src="../js/original/jquery.flexslider.min.js")
script(src="../js/original/jquery.masonry.js")
script(src="../js/original/waypoints.min.js")
script(src="../js/original/jquery.label_better.min.js")
script(src="../js/original/jquery.easypiechart.js")
script(src="../js/original/contact.js")
script(src="../js/original/meflat.js")