footer#main-footer.dark-bg.light-typo
    .container
        hr
        .row
            .col-sm-6
                ul.social-links
                    li.scrollimation.fade-right.d4
                        a(href="https://twitter.com/Jamesking56")
                            i.fa.fa-twitter.fa-fw
                    li.scrollimation.fade-right.d3
                        a(href="https://www.facebook.com/Jamesking56")
                            i.fa.fa-facebook.fa-fw
                    li.scrollimation.fade-right.d2
                        a(href="https://uk.linkedin.com/in/jamesking56")
                            i.fa.fa-linkedin.fa-fw
                    li.scrollimation.fade-right.d1
                        a(href="https://github.com/Jamesking56")
                            i.fa.fa-github.fa-fw
                    li.scrollimation.fade-right
                        a(href="http://stackoverflow.com/users/941446/jamesking56")
                            i.fa.fa-stack-overflow.fa-fw
            .col-sm-6.text-right
                p
                    | &#169; 2015 James King, all rights reserved.
script(src="js/libs/jquery-1.9.1.min.js")
script(src="js/libs/bootstrap.min.js")
script(src="js/jquery.easing.1.3.min.js")
script(src="js/jquery.scrollto.js")
script(src="js/jquery.fittext.js")
script(src="js/jquery.flexslider.min.js")
script(src="js/jquery.masonry.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.label_better.min.js")
script(src="js/jquery.easypiechart.js")
script(src="js/contact.js")
script(src="js/meflat.js")