section#portfolio.gray-bg.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in My Works
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                | Aenean purus felis, condimentum et tempor in, commodo id nibh. Fusce a lacus arcu.
        #filter-works
            ul
                li.active.scrollimation.fade-right.d1
                    a(href="#", data-filter="*") All
                li.scrollimation.fade-right
                    a(href="#", data-filter=".web-design") Web Design
                li.scrollimation.fade-left
                    a(href="#", data-filter=".icons") Icons
                li.scrollimation.fade-left.d1
                    a(href="#", data-filter=".ui-kits") UI Kits
    .container.masonry-wrapper.scrollimation.fade-in
        #projects-container
            article.project-item.web-design
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
            article.project-item.icons
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
            article.project-item.web-design
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
            article.project-item.icons
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
            article.project-item.ui-kits
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
            article.project-item.ui-kits
                img.img-responsive.project-image(src="../assets/placeholder-320x210.jpg", alt="")
                .hover-mask
                    h2.project-title Project Title
                    p Subtitle
                .sr-only.project-description(data-category="Category", data-date="Date", data-client="Client", data-link="www.example.com,http://www.google.com", data-descr="A small description goes here.", data-images="../assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                    p
                        | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
                    p.text-right
                        a.btn.btn-meflat.icon-right(href="#external-link")
                            | Visit Website
                            i.fa.fa-arrow-right
    #project-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    .container
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                        h1#hdr-title.text-center
                        .row
                            .col-md-8.col-md-offset-2
                                .image-wrapper
                                    img.img-responsive(src="../assets/chrome.png", alt="")
                                    .loader
                                    .screen
                .modal-body
                    .container
                        .row
                            #project-sidebar.col-md-3
                                h2#sdbr-title
                                p#sdbr-category
                                p#sdbr-date
                                p#sdbr-client
                                p#sdbr-link
                                    a(href="#link", target="_blank")
                                p#sdbr-descr
                            #project-content.col-md-8.col-md-offset-1