section#services.white-bg.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in What I Do
            //- p
                | With each of these services, a contract will be created and signed by yourself and me.
                br
                | Most projects are billed hourly at a rate of &pound;15 an hour (invoiced each month).
                include trustpilot
        .row.services
            include services/web-design
            include services/web-development
            include services/existing-support
            include services/server-maintenance
        .row.services
            include services/consultancy
            include services/support