section#services.white-bg.padding-top-bottom
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in What I Do
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                | Aenean purus felis, condimentum et tempor in, commodo id nibh. Fusce a lacus arcu.
        .row.services
            include services/web-design
            include services/web-development
            include services/existing-support
            include services/server-maintenance
        .row.services
            include services/consultancy
            include services/support