section#skills.white-bg
    .container
        .row.skills
            header.section-header.text-center
                h1.text-center.scrollimation.fade-in I Got the Skills
            .col-sm-6.col-md-3.text-center
                //- span.chart(data-percent="80")
                    span.percent 80
                h2.text-center HTML / CSS
            .col-sm-6.col-md-3.text-center
                h2.text-center PHP
            .col-sm-6.col-md-3.text-center
                h2.text-center Laravel Framework
            .col-sm-6.col-md-3.text-center
                h2.text-center Web Applications
        .row.skills.no-top
            .col-sm-6.col-md-3.text-center
                h2.text-center Javascript / jQuery
            .col-sm-6.col-md-3.text-center
                h2.text-center Microsoft Windows
            .col-sm-6.col-md-3.text-center
                h2.text-center Apple Mac OS X
            .col-sm-6.col-md-3.text-center
                h2.text-center Linux (Ubuntu / CentOS)
        .row.skills.no-top.last
            .col-sm-6.col-md-3.text-center
                h2.text-center MySQL & SQLite
            .col-sm-6.col-md-3.text-center
                h2.text-center Microsoft SQL Server
            .col-sm-6.col-md-3.text-center
                h2.text-center PostgreSQL
            .col-sm-6.col-md-3.text-center
                h2.text-center
                    a(href="https://www.linkedin.com/in/jamesking56#background-skills-container")
                        | And much more!