section#skills.white-bg
    .container
        .row.skills
            h1.text-center.scrollimation.fade-in I Got the Skills
            .col-sm-6.col-md-3.text-center
                span.chart(data-percent="80")
                    span.percent 80
                h2.text-center Web Design
            .col-sm-6.col-md-3.text-center
                span.chart(data-percent="70")
                    span.percent 70
                h2.text-center HTML / CSS
            .col-sm-6.col-md-3.text-center
                span.chart(data-percent="60")
                    span.percent 60
                h2.text-center Graphic Design
            .col-sm-6.col-md-3.text-center
                span.chart(data-percent="90")
                    span.percent 90
                h2.text-center UI / UX