.col-md-offset-3.col-md-3.col-sm-6.item.scrollimation.fade-up.d3
    .icon
        i.fa.fa-5x.fa-phone
    h2 Technical Consultancy
    p
        | Need some advice for new or existing projects? You can Skype call with me and I'll offer you my own honest opinion. As a developer, I can give you great technical advice.
