.col-md-3.col-sm-6.item.scrollimation.fade-up.d2
    .icon
        //img.img-responsive.img-center(src="../assets/service3.png", alt="")
        i.fa.fa-5x.fa-life-ring
    h2 Existing site support
    p
        | Got a website or web application that needs some <abbr title="tender loving care">TLC</abbr>? I can offer support plans to suit you at an hourly rate, giving you peace of mind to manage your business.
