.col-md-3.col-sm-6.item.scrollimation.fade-up.d3
    .icon
        i.fa.fa-5x.i.fa-medkit
    h2 Technical Support
    p
        | Need help with something not web-related? I can offer support for personal / office computers (Windows, Mac OS X and Linux), Servers (Windows, Mac OS X and Linux), Smart phones, tablet devices and much more.