.col-md-3.col-sm-6.item.scrollimation.fade-up
    .icon
        //img.img-responsive.img-center(src="../assets/service1.png", alt="")
        i.fa.fa-5x.fa-5x.fa-globe
    h2 Web &#38; App Design
    p
        | I can design and create smaller sites and basic apps with ease, providing a perfect online presence for your business. All I need is your basic ideas and I'll make it real.
