.col-md-3.col-sm-6.item.scrollimation.fade-up.d1
    .icon
        //img.img-responsive.img-center(src="../assets/service2.png", alt="")
        i.fa.fa-5x.fa-cloud
    h2 Web Development
    p
        | Need something more large-scale? I can develop larger web applications from scratch which are scalable and cloud-ready. We can meet up and plan your next big thing together.
