.col-md-offset-3.col-md-3.col-sm-6.item.scrollimation.fade-up
    .icon
        i.fa.fa-5x.fa-phone
    h2 Consultancy
    p
        | Need some advice for new or existing projects? I am available on Skype to troubleshoot, offer technical guidance and discuss possible solutions.
