.col-md-3.col-sm-6.item.scrollimation.fade-up.d3
    .icon
        //img.img-responsive.img-center(src="../assets/service4.png", alt="")
        i.fa.fa-5x.fa-server
    h2 Server Maintenance
    p
        | Having some server-related troubles? I can manage on-premise and cloud servers remotely, giving you someone to contact when it all goes wrong.
