# Rewrite Rules
Options -Indexes
RewriteEngine On
RewriteBase /

# PHP Settings
SetEnv TZ Europe/London

# 404 -> Home
ErrorDocument 404 http://www.jamesking.dev
ErrorDocument 403 http://www.jamesking.dev

# Security Headers
<IfModule mod_headers.c>
  Header set X-Frame-Options: SAMEORIGIN
  Header set X-XSS-Protection: "1; mode=block"
  Header set X-Content-Type-Options: nosniff
</IfModule>
