section#feat-project.gray-bg.padding-top
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in I am available for Freelance work
            p
                | All my freelance work is done via my company, Momentum Studio Ltd.
                br
                | Please visit the Momentum Studio website to find out more.
            a.btn.btn-meflat(href="https://momentum.studio", target="_blank")
                | Visit Momentum Studio
