section#feat-project.gray-bg.padding-top
    .container
        header.section-header.text-center
            h1.scrollimation.scale-in Featured Project
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                | Aenean purus felis, condimentum et tempor in, commodo id nibh. Fusce a lacus arcu.
        .scrollimation.fade-up
            img.img-responsive.img-center(src="../assets/chrome-top.png", alt="")
            .img-wrapper
                img.img-responsive.img-center(src="../assets/placeholder-800x500.jpg", alt="")
                p.text-center.on-hover
                    a.btn.btn-meflat.icon-right(href="#external")
                        | Visit Website
                        i.fa.fa-arrow-right