footer#main-footer.dark-bg.light-typo
    .container
        .row
            .col-sm-12.text-center
                | <!-- Google Analytics -->
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-3500793750829481', data-ad-slot='7008426711')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
        hr
        .row
            .col-sm-6
                ul.social-links
                    li.scrollimation.fade-right.d4
                        a(href="https://twitter.com/Jamesking56", rel="nofollow")
                            i.fa.fa-twitter.fa-fw
                    li.scrollimation.fade-right.d3
                        a(href="https://www.facebook.com/Jamesking56", rel="nofollow")
                            i.fa.fa-facebook.fa-fw
                    li.scrollimation.fade-right.d2
                        a(href="https://uk.linkedin.com/in/jamesking56", rel="nofollow")
                            i.fa.fa-linkedin.fa-fw
                    li.scrollimation.fade-right.d1
                        a(href="https://github.com/Jamesking56", rel="nofollow")
                            i.fa.fa-github.fa-fw
                    li.scrollimation.fade-right
                        a(href="http://stackoverflow.com/users/941446/jamesking56", rel="nofollow")
                            i.fa.fa-stack-overflow.fa-fw
            .col-sm-6.text-right
                p
                    | &copy; James King, all rights reserved.
script(src="app.min.js")
