#main-nav.navbar.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site-nav")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.visible-xs.scrollto(href="#home") Jk
        #site-nav.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a.scrollto(href="#services") What I Do
                li
                    a.scrollto(href="#about") About Me
                li#logo
                    a.scrollto(href="#home")
                        h1
                            | J
                            span K
                li
                    a.scrollto(href="#skills") My Skills
                li
                    a.scrollto(href="#contact") Contact Me