section#dribbble
    h1.dribbble-button
        a(href="#", target="_blank") My Dribbble Shots
    .row
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")
        .col-md-2.col-sm-4.col-xs-6
            a(href="#link", target="_blank")
                img.img-responsive(src="../assets/placeholder-375x250.jpg", alt="")