name: Percy Visual Testing

on: [push]

jobs:
    snapshot:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            - uses: bahmutov/npm-install@v1.11.2
            - name: generate HTML
              run: gulp
            - name: run percy
              run: npx @percy/cli snapshot dist/
              env:
                  CI: true
                  PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
