name: Lint Prettier

on: [push]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: bahmutov/npm-install@v1.11.2
            - name: lint prettier
              run: npm run cstest
              env:
                  CI: true
