name: Lint Prettier

on: [push]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
            - uses: bahmutov/npm-install@v1.11.2
            - name: lint prettier
              run: npm run cstest
              env:
                  CI: true
